body {
  font-family: "Raleway", sans-serif;
  color: #150c11;
}

.navbar{
  background-color: #475c85;
}

.navbar-brand{
  font-weight:900;
  font-size: x-large;
  color: #d7d3d4;
}
.navbar-brand:hover{
  color: #e6793e;
}

.nav-link{
  color: #d7d3d4;
}
.btn-accion{
  background-color: #c04d0f;
}

.btn-accion-secundaria{
  border: #c04d0f solid 2px;
  color: #d7d3d4;
}
.btn-accion-secundaria:hover{
  color:#c04d0f;
}
.seccion-aportes{
  background-color: #647595;
}
.btn-aportes{
  border: #c04d0f solid 2px;
  color: #c04d0f;

}
.btn-aportes:hover{
  border: #c04d0f solid 2px;
  background-color:#c04d0f;
  color: white;
  
}
/* Hero Section */


#Hero-Section {
  background-image: url("../img/bg-monk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }
  #brand-name{
    margin-bottom: 0px;
  }
}
